@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  width: 40px;
}

::-webkit-scrollbar-thumb {
  background: blueviolet;
}

::-webkit-scrollbar-thumb:hover {
  background: #b91ab1;
}

:root {
  --clr-primary: #8a2be2;
  --clr-secondary: #ff6584;
  --clr-white: #f0f0f0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #826f66;
}

body ::-moz-selection {
  background: rgba(102, 37, 102, 0.548);
}

body ::selection {
  background: rgba(102, 37, 102, 0.548);
}

/* buttons */
.btn {
  box-shadow: 0 0 0 !important;
}

.btn-primary {
  background-color: var(--clr-secondary);
  padding: 8px 1.4rem !important;
  color: var(--clr-primary) !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--clr-secondary);
  color: var(--clr-primary) !important;
}

/* end of buttons */

.navbar {
  background-color: var(--clr-primary) !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1999;
}

.navbar .navbar-brand {
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  color: var(--clr-white);
}

.navbar .nav-link {
  margin: 0 10px;
  font-size: 1.1rem;
  color: var(--clr-white) !important;
  font-weight: 400;
}

.navbar .nav-link:hover {
  color: var(--clr-secondary) !important;
}

header .top-bar {
  color: var(--clr-secondary);
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  padding-bottom: 4px;
}

header h1 {
  font-size: 2.9rem;
  font-family: 'Bangers';
  margin: 1rem 0;
  color: blueviolet;
}

header p {
  color: #826f66;
  line-height: 2;
}

.section_title h2 {
  font-size: 2.5rem !important;
  letter-spacing: 5px;
  color: blueviolet;
  font-family: 'Bangers', cursive;
  margin-bottom: 2rem;
}

.love {
  margin: 2rem 0;
}

.love img {
  width: 100px !important;
}

#interests .card {
  border: 0;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  min-height: 350px;
  padding-top: 1.3rem;
  transition: 0.3s ease-in;
  border-radius: 0;
}

#interests .card:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#interests .card .icon-box {
  padding: 1rem;
  border-radius: 4px;
  display: inline-block;
  background-color: #eee8f0;
}

#interests .card .icon-box i {
  color: blueviolet;
  font-size: 1.5rem;
}

#interests .card h4 {
  color: blueviolet;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 1.5rem 0;
}

#interests .card p {
  font-size: 1.2rem;
}

#hobbies .card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  padding-top: 0;
  border: 0;
  border-radius: 0;
}

#hobbies .card:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#hobbies .card img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

#hobbies .card h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.4rem;
  font-weight: 300;
}

#contact .dresses {
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  display: inline-block;
}

#contact .dresses a {
  display: inline-block;
  width: 100%;
}

#contact .dresses img {
  width: 100%;
  display: inline-block;
  margin: 5px 0;
}

footer p {
  color: blueviolet;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .dresses {
    -webkit-column-count: 2 !important;
    column-count: 2 !important;
  }
}

@media (max-width: 520px) {
  .dresses {
    -webkit-column-count: 1 !important;
    column-count: 1 !important;
  }
}
/*# sourceMappingURL=styles.css.map */

.progress-bar {
  background-color: var(--clr-primary);
}

#skills .card {
  border: 0;
}
